body{
    background-color: #ffffff;
    font-family:Arial, Helvetica, sans-serif;
}
/*Css styling for table name*/
h1{
    text-align:left ;
    font-family:sans-serif ;
    font-weight:bolder;
    color: #4a0423e2;
}
/*Css styling for table*/
table{
    border-collapse: collapse;
    background-color: #63063b;
    width: 1500px;
    height: 100px;
}
tr:hover{
    background-color: #ff028d;
    font-weight:bolder;}
th{
    color: #f9f7f7;
    background-color: #63063b;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #b926688b;
}
td{
    color: #752b72;
    padding:10px;
    text-align: center;
    background-color: #dcb5cb;
}

.mybutton:hover{
    color: #630628;
    background-color: #f90365;
    transition-duration: 0.2s;
}
.mytable{
    padding-top: 36px;
    padding-bottom:36px;
    color: #630628;
}